@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
    font-family: 'fira Sans', sans-serif;
}
:root{
    --mini-color: #fff;
    --sc-color: #3ec1d5;
    --th-color: #333;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 0.5rem;
    font-size:66%;
}
header{
    position: fixed;
    top: 0; right: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 3%;
    background: rgba(10, 10, 9, 0.6);
    z-index: 1001;
}
header .logo{
    font-size: 3.5rem;
    color: var(--mini-color);
    padding: 0.4rem;
}
header .navbar a{
    margin: 0 0.8rem;
    font-size: 1.9rem;
    color: var(--mini-color);
    padding: 0.4rem;
}
header .navbar a:hover,
header .fa-bars:hover{
    color:var(--sc-color)
}
header .fa-bars{
    font-size: 2.8rem;
    color: var(--mini-color);
    cursor: pointer;
    display: none;
}

@media(max-width:850px){
    header .fa-bars{
        display:block;
    }
    header .navbar{
        position: fixed;
        top: 1000rem; left: 0;
        background: rgba(10, 10, 9, 0.6);
        width: 100%;
    }
    header .navbar.active{
        top:7.5rem;
    }
}